body{
    font-family: Arial, sans-serif;
}
nav{
    height: 60px;
    width: 100%;
    background: #344051;
}

.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/paren.png) 90% 100%/auto 85% no-repeat local, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
    margin-right: 112px;
}

.title_container{
    padding: 432px 0px 0px 404px;
    float: left;
    color: #2c384a;
    text-align: center;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    font-size: 22px;
    margin-top: 40px;
    color: #79818d;
}

.title_container input{
    height: 41px;
    width: 93px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    margin-top: 40px;
}

.about_me{
    text-align: center;
    color: #3f495a;
}

.about_me h3{
    font-size: 50px;
    text-align: center;
    margin-top: 108px;
    margin-bottom: 95px;
    font-weight: bold;
    color: #263244;
}

.about_me p{
    padding: 25px;
    font-size: 20px;
}

.about_me input{
    border: 1px solid #66707d;
    border-radius: 5px;
    color: #66707d;
    padding: 7px 7px 7px 21px;
    text-align: center;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png) 4% 37% no-repeat;
    margin-top: 25px;
}

.skills_container h2{
    text-align: center;
    border-bottom: 4px solid #d17700;
    width: 96px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto;
    padding-bottom: 32px;
    padding-top: 107px;
}

.skills_container{
    width: 920px;
    height: 600px;
    margin: 0 auto;
}

.skills_item{
    float: left;
    width: 230px;
    text-align: center;
    padding-top: 111px;
    padding-bottom: 95px;
}

.skills_item h3{
    padding-top: 26px;
    padding-bottom: 17px;
}

.skills{
    background: url(../img/fon3.jpg) center/cover no-repeat;
}

.clear{
    clear:left;
}

#case{
    text-align: center;
    border-bottom: 4px solid #d17700;
    width: 108px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto;
    padding-bottom: 32px;
    padding-top: 107px;
}

.cases{
    text-align: left;
}

.description_left{
    text-align: center;
    margin-top: 43px;
    color: #3f495a;
}

.portfolio{
    height: 903px;
}

.portfolio_container img{
    margin-right: 298px;
    margin-top: 43px;
}

.description_left{
    text-align: left;
    !important
}